<!DOCTYPE html>
<html>
<head>
    <title>Riemann Toplamı</title>
</head>

<body>
    <h1> Riemann Toplamı Hesaplama ve Görselleştirme Aracı </h1>
    <p> Alttaki formdan değerleri girip 'Hesapla'ya basınız.</p>
    <form id="form" class="container" method="get">
        <label for="f">Fonksiyon</label>
        <input type="text" id="f" name="f" placeholder="sin(x^3)" required>
        <label>Aralık: </label>
        <label for="a">a:</label>
        <input type="text" id="a" name="a" placeholder="-10" required>
        <label for="b">b:</label>
        <input type="text" id="b" name="b" placeholder="10" required>
        <label for="N">Bölüntü Sayısı</label>
        <input type="text" id="N" name="N" placeholder="20" required>
        <input type="submit" id="get_riemann" value="Hesapla">
    </form>
    
    {% if alt_url or ust_url %}
    <div class="container">
        {% if alt_url %}
        <img src="{{ alt_url }}" alt="alt toplam">
        {% endif %}
        
        {% if ust_url %}
        <img src="{{ ust_url }}" alt="üst toplam">
        {% endif %}
    </div>
    {% endif %}
    
    {% if error %}
    <div>
        <h3>Hata:</h3>
        <p>{{error}}</p>
    </div>
    {% endif %}
    
    <style>
    .container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    </style>
    
    <script>
    window.onload = function() {
        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);
        document.getElementById('f').value = urlParams.get('f');
        document.getElementById('a').value = urlParams.get('a');
        document.getElementById('b').value = urlParams.get('b');
        document.getElementById('N').value = urlParams.get('N');
    };
    </script>
</body>

</html>